
// Import the variables from the main file
@import './../../styles/normalize';
@import './../../styles/global';

.challenge__content {
  grid-template-columns: auto auto;
}

video {
  box-shadow: 0 0 1px 3px rgba(0,0,0,0.1);
}

.speed {
  height: 70%;
  width: 40px;
  background: #efefef;
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin: 10px;
  border-radius: 50px;
  box-shadow: 0 0 1px 3px rgba(0,0,0,0.1);
  overflow: hidden;
  position: relative;
}

.speed-bar {
  width: 100%;
  background: linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  color: white;
  height: 16.3%;
}

.label {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  background: #efefef;
  padding: .5em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: .7em;
  font-weight: 700;
  box-shadow: 0 0 1px 3px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}