
// Import the variables from the main file
@import './../../styles/normalize';
@import './../../styles/global';

.keys{
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: minmax(0, auto);
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.key {
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  user-select: none;
  kbd {
    background-color: rgb(58, 8, 58);
    color: white;
    padding: .8em 1em;
    border-radius: 0.5em;
    font-size: 1.5em;
    font-weight: 700;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .5s ease-in-out;
    &:hover {
      background-color: rgb(69, 8, 69);
      color: yellow;
      transform: translateY(-3px) scale(1.05);
    }
  }
  .sound{
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(58, 8, 58);
  }

  &.playing {
    animation-duration: .7s;
    animation-name: prueba_playing;
    animation-iteration-count: 1;
  }
}

@keyframes prueba_playing {
  to {
    transform: scale(1.2);
    filter: drop-shadow(0 0 0.75rem rgb(58, 8, 58));
  }
}