@import "./vars";

.header {
  background-color: $color-secondary;
  background-image: linear-gradient(
      135deg,
      rgba(107, 107, 107, 0.06) 0%,
      rgba(107, 107, 107, 0.06) 50%,
      rgba(202, 202, 202, 0.06) 50%,
      rgba(202, 202, 202, 0.06) 100%
    ),
    linear-gradient(90deg, rgb(20, 20, 20), rgb(20, 20, 20));
  background-size: 30px 30px;
  min-height: 60vh;
  display: grid;
  place-items: center;
  &__title {
    color: $white;
    font-size: 12em;
    letter-spacing: 0px;
    font-family: $font-title;
    margin: 0;
    user-select: none;
    transition: 0.2s ease-in-out;
    &--data {
      color: $color-primary;
      &:first-child {
        font-size: 0.5em;
        margin-right: -40px;
        @media screen and (max-width: 1100px) {
          margin-right: -20px;
        }
      }
      &:last-child {
        font-size: 1.5em;
        margin-left: -5px;
      }
    }
    @media screen and (max-width: 1100px) {
      font-size: 6em;
    }
    @media screen and (max-width: 520px) {
      font-size: 4em;
    }
  }
}

.about {
  background-image:
    linear-gradient(rgba(255, 220, 63, 0.7) 90%, rgba(241, 241, 241, .5) 100%),
    url('img/pattern.png');

  background-repeat: repeat;
  background-position: center;
  overflow: hidden;

  &__article {
    max-width: 1400px;
    margin: 0 auto;
    padding: 6em 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
    box-shadow: $box_shadown;
    object-fit: cover;
    object-position: center;
    transition: 0.4s ease-in-out;
    &:hover {
      transform: rotate(5deg) scale(1.05);
      box-shadow: $box_shadown_bold;
    }
  }
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;
  padding: 2em;
  box-shadow: $box_shadown;
  border-radius: 1em;
  transition: .6s ease-in-out;
  &__title {
    font-size: 1.5em;
    margin: 0px auto 1.5em auto;
    color: $color-secondary;
    font-weight: 800;
    text-align: center;
    &--chagellenge{
      margin-bottom: .8em;
    }
  }
  &__subtitle{
    font-size: .9em;
    margin: 0px auto .7em auto;
    color: rgba($color: $color-secondary, $alpha: .7);
    font-weight: 800;
    text-align: center;
  }
  &__featured{
    margin: .5em auto;
    list-style: circle;
  }
  &__item {
    padding: .5em 0 .5em 1em;
    font-size: .85em;
  }
  &__data {
    color: $color-accent;
    padding: 0 3px;
    font-weight: 800;
  }
  p {
    color: $color-accent;
    margin: 0 auto 1em auto;
    padding: 0;
    text-align: center;
    line-height: 140%;
  }
  .separator {
    line-height: 120%;
    margin: 0 5px;
    svg {
      fill: $color-primary;
    }
  }
  &--challenge {
    &:hover {
      box-shadow: $box_shadown_bold;
      transform: translateY(-5px);
    }
  }
}

.btn {
  display: inline-block;
  padding: 0.8em 1em;
  margin: 1em auto 0 auto;
  border-radius: 0.5em;
  background-color: $color-primary;
  color: $color-secondary;
  font-weight: 800;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  line-height: 120%;
  &:hover {
    background-color: $color-secondary;
    color: $color-primary;
  }
}

.challenges {
  background-image: url("img/pattern.png");
  background-repeat: repeat;
  background-position: center;
  background-color: $bg-color;
  overflow: hidden;
  min-height: 50vh;
  &__article {
    max-width: 1400px;
    margin: 0 auto;
    padding: 6em 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
  }
}
